<!DOCTYPE html>
<html>
    <head>
        <title>$nom $prenom</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <main>
            <div style="display: flex; justify-content: space-around; align-items: center;">
                <div>
                    <div style="height:25px; padding-left: 15px; padding-right: 15px; border: 1px solid #659224; color: #659224; display: flex; align-items: center; justify-content: center;">
                        $nom $prenom
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center; color: #659224;">
                        $role
                    </div>
                </div>
                <div>
                    <img src="$img" width="150" height="100">
                </div>
            </div>
            <div style="text-align: center; margin-top: 20px; color: #379EC1;">
                $listeMateriel
            </div>
        </main>
    </body>
</html>