<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <main>
            <div style="text-align: center;">
                <img src="https://raw.githubusercontent.com/JulienOo/GoSecuri/main/logo.jpg" width="250">
            </div>
            <div style="margin-top: 20px; color: #659224; text-align: center;">
                <h1>
                    Accueil
                </h1>
            </div>
            <div style="text-align: center; margin-top: 20px; color: #379EC1;">
                $listeAgent
            </div>
        </main>
    </body>
</html>